.plan-heading{
    color: #005395;
    font-weight: 600;
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
}
.plan-container{
    padding-left: 150px !important;
    padding-right: 150px !important;
    background-color: white;
}

.card2{
    width: 330px;
    height: 620px;
    background-color:white;
    margin-top: 30px;
}
.padd{
    padding-bottom: 40px;
}
.card2:hover{
    background-color: rgba(128, 128, 128, 0.116) !important ;
}
.title{
    width: 300px;
    margin: 0;
    padding: 0;
}
.mainheading{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;

}
.mainheading2{
    background-color: rgba(135, 207, 235, 0.623);
    width: 100%;
    /* margin-left: -12px; */
    height: 100px !important;
 
    /* margin-top: -10px; */
}
.mainheading2:hover{
   background-color: rgb(9, 173, 238);
}
.heading2{
    background-color: orangered;
    width: 90px;
    height: 80px;
    border-radius: 10px;
    text-align:center;
    justify-content: center !important;
    /* margin-left: 100px; */
    margin-top: 50px;

    position: relative;
    margin-top: -40px;

}
.heading2:hover{
    background-color: rgba(255, 68, 0, 0.534);
}
.rupee{
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    text-align: center !important;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: orangered;
    width:30%;
    margin: auto;
    margin-top: -40px;
    border-radius: 10px;
}
.buttn{
    width: 160px;
    height: 50px;
    background-color: orangered;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    font-weight: 500;
    border: none;
    margin-left: 80px !important;
    
    
}
.buttn:hover{
    background-color: rgba(255, 68, 0, 0.534);
}
.center{
    text-align: center;
    /* margin-top: 20px; */
    color: rgb(22, 22, 192);
}

