.btn-forgot-input{
    border-radius: 30px !important;
    font-size: 13px !important;
    padding: 10px !important;
    border-width: 1px !important;
    width: 93% !important;
}
.forgot-label1{
    text-align: center;
}